h1
{   background-color: black;
    color:pink;
}

h2{
    color:blue;
}
p{
    background-color: lightgray;
}
ul{
    border: 1px solid black;
    
}
li{
    background-color: lightyellow;
    padding: 5px;
}

div{
    font-size: 18px;
    color: green;
}
h3{
    font-style: italic;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

a{
    
    font-style: italic;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}